---
export interface PostAuthor {
  name: string;
  href: string;
  imageSrc: string;
  imageAlt?: string;
  role: string;
}

export interface BlogPost {
  coverImageSrc: string;
  coverImageAlt?: string;
  date: string;
  dateTime: string;
  categoryLabel: string;
  categoryHref: string;
  title: string;
  titleHref: string;
  excerpt: string;
  author: PostAuthor;
}

export interface Props {
  heading?: string;
  description?: string;
  posts?: BlogPost[];
}

const {
  heading = "From the blog",
  description = "Learn how to grow your business with our expert advice.",
  posts = [
    {
      coverImageSrc: "https://picsum.photos/300",
      coverImageAlt: "",
      date: "Mar 16, 2020",
      dateTime: "2020-03-16",
      categoryLabel: "Marketing",
      categoryHref: "#",
      title: "Boost your conversion rate",
      titleHref: "#",
      excerpt:
        "Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel iusto corrupti dicta laboris incididunt.",
      author: {
        name: "Michael Foster",
        href: "#",
        imageSrc: "https://picsum.photos/300",
        imageAlt: "",
        role: "Co-Founder / CTO",
      },
    },
    {
      coverImageSrc: "https://picsum.photos/300",
      coverImageAlt: "",
      date: "Mar 10, 2020",
      dateTime: "2020-03-10",
      categoryLabel: "Sales",
      categoryHref: "#",
      title: "How to use search engine optimization to drive sales",
      titleHref: "#",
      excerpt:
        "Optio sit exercitation et ex ullamco aliquid explicabo. Dolore do ut officia anim non ad eu. Magna laboris incididunt commodo elit ipsum.",
      author: {
        name: "Lindsay Walton",
        href: "#",
        imageSrc: "https://picsum.photos/300",
        imageAlt: "",
        role: "Front-end Developer",
      },
    },
    {
      coverImageSrc: "https://picsum.photos/300",
      coverImageAlt: "",
      date: "Feb 12, 2020",
      dateTime: "2020-02-12",
      categoryLabel: "Business",
      categoryHref: "#",
      title: "Improve your customer experience",
      titleHref: "#",
      excerpt:
        "Dolore commodo in nulla do nulla esse consectetur. Adipisicing voluptate velit sint adipisicing ex duis elit deserunt sint ipsum. Culpa in exercitation magna adipisicing id reprehenderit consectetur culpa eu cillum.",
      author: {
        name: "Tom Cook",
        href: "#",
        imageSrc: "https://picsum.photos/300",
        imageAlt: "",
        role: "Director of Product",
      },
    },
  ],
} = Astro.props;
---

<div class="bg-white py-24 sm:py-32 dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white">{heading}</h2>
      <p class="mt-2 text-lg/8 text-gray-600 dark:text-gray-400">{description}</p>
      <div class="mt-16 space-y-20 lg:mt-20">
        {posts.map((post) => (
          <article class="relative isolate flex flex-col gap-8 lg:flex-row">
            <div class="relative aspect-video sm:aspect-2/1 lg:aspect-square lg:w-64 lg:shrink-0">
              <img src={post.coverImageSrc} alt={post.coverImageAlt ?? ""} class="absolute inset-0 size-full rounded-2xl bg-gray-50 object-cover dark:bg-gray-800" />
              <div class="absolute inset-0 rounded-2xl inset-ring inset-ring-gray-900/10 dark:inset-ring-white/10"></div>
            </div>
            <div>
              <div class="flex items-center gap-x-4 text-xs">
                <time datetime={post.dateTime} class="text-gray-500 dark:text-gray-400">{post.date}</time>
                <a href={post.categoryHref} class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100 dark:bg-gray-800/60 dark:text-gray-300 dark:hover:bg-gray-800">{post.categoryLabel}</a>
              </div>
              <div class="group relative max-w-xl">
                <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600 dark:text-white dark:group-hover:text-gray-300">
                  <a href={post.titleHref}>
                    <span class="absolute inset-0"></span>
                    {post.title}
                  </a>
                </h3>
                <p class="mt-5 text-sm/6 text-gray-600 dark:text-gray-400">{post.excerpt}</p>
              </div>
              <div class="mt-6 flex border-t border-gray-900/5 pt-6 dark:border-white/10">
                <div class="relative flex items-center gap-x-4">
                  <img src={post.author.imageSrc} alt={post.author.imageAlt ?? ""} class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
                  <div class="text-sm/6">
                    <p class="font-semibold text-gray-900 dark:text-white">
                      <a href={post.author.href}>
                        <span class="absolute inset-0"></span>
                        {post.author.name}
                      </a>
                    </p>
                    <p class="text-gray-600 dark:text-gray-400">{post.author.role}</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        ))}
      </div>
    </div>
  </div>
</div>
