---
import LucideIcon from "@astro-cogue/components/LucideIcon/LucideIcon.astro";

interface Props {
  topCaption: string;
  title: string;
  subtitle: string;
  columns: Section[];
}

type Section = {
  icon: string;
  title: string;
  caption: string;
  actionLabel: string;
  actionHref: string;
};

const props = Astro.props;
---

<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-400">
        {props.topCaption}
      </h2>
      <p
        class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl lg:text-balance"
      >
        {props.title}
      </p>
      <p class="mt-6 text-lg/8 text-gray-300">
        {props.subtitle}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
      >
        {
          props.columns.map((col) => (
            <div class="flex flex-col">
              <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-white">
                <LucideIcon name={col.icon as any} />
                {col.title}
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-400">
                <p class="flex-auto">{col.caption}</p>
                <p class="mt-6">
                  <a
                    href={col.actionHref}
                    class="text-sm/6 font-semibold text-indigo-400 hover:text-indigo-300"
                  >
                    {col.actionLabel} <span aria-hidden="true">→</span>
                  </a>
                </p>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
